apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/ironcore-dev/ironcore/config/etcdless?ref=8e5ead5b94ebee223c2e876e4798337650966a9b
  - certificates.yaml

images:
  - name: apiserver
    newName: ghcr.io/ironcore-dev/ironcore-apiserver
    newTag: sha-8e5ead5
  - name: controller
    newName: ghcr.io/ironcore-dev/ironcore-controller-manager
    newTag: sha-8e5ead5

patches:
  - path: patch-apiserver-deployment.yaml
  - path: patch-apiserver-service.yaml
