apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/ironcore-dev/libvirt-provider/config/default?ref=b1b2ef4c0e231514817e7eea9b2a58f554dd42a5
  - role-binding.yaml
  - role.yaml

images:
  - name: machinepoollet
    newName: ghcr.io/ironcore-dev/ironcore-machinepoollet
    newTag: sha-8e5ead5
  - name: libvirt-provider
    newName: ghcr.io/ironcore-dev/libvirt-provider
    newTag: sha-18b7f2e

patches:
  - path: patch-manager-daemonset.yaml
